<!DOCTYPE html>
<html>
<head><link type="text/css" rel="stylesheet" href="stylesheet.css"/></head>
<body class= "icon_choice">
	<form action="/outcome">
		<button class="rock_button" type="submit">Rock</button>
	</form>
	<form action="/outcome">
		<button class="paper_button" type="submit">Paper</button>
	</form>
	<form action="/outcome">
		<button class= "scissor_button" type="submit">Scissors</button>
	</form>
</body>
</html>
