<!DOCTYPE html>
<html>

<head> </head>
<body>
	<form action="/outcome" class="inline">
		<button type="submit">Rock</button>
	</form>
	<form action="/outcome" class="inline">
		<button type="submit">Paper</button>
	</form>
	<form action="/outcome" class="inline">
		<button type="submit">Scissors</button>
	</form>
</body>
</html>