<!DOCTYPE html>
<html>
	<% if @outcome.random_number == :win %>
		<h1 class= "win">You Win!</h1>
		<% elsif @outcome.random_number == :loose %>
		<h1 class= "loose">You Loose!</h1>
	<% end %>
</html>
